table#domains-sortable thead tr .header,
table#entries-sortable thead tr .header {
        cursor: pointer;
        padding: 0, 0, 30px, 0;
}

table#domains-sortable thead tr .headerSortUp,
table#entries-sortable thead tr .headerSortUp {
        background-image: url(../images/asc.gif);
        background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
}

table#domains-sortable thead tr .headerSortDown,
table#entries-sortable thead tr .headerSortDown {
        background-image: url(../images/desc.gif);
        background-repeat: no-repeat;
        background-position: center left;
	padding-left: 20px;
}

table#domains-sortable thead tr .headerSortDown,
table#domains-sortable thead tr .headerSortUp,
table#entries-sortable thead tr .headerSortDown,
table#entries-sortable thead tr .headerSortUp {
        background-color: #CCCCCC;
}
